flow
[{"id":"a296c5e13a98a86f","type":"subflow","name":"Frases aleatórias","info":"","category":"","in":[{"x":180,"y":140,"wires":[{"id":"a77af71a8982dccc"}]}],"out":[{"x":1180,"y":240,"wires":[{"id":"72bcf449b2a7e401","port":0}]}],"env":[{"name":"categoria","type":"str","value":"","ui":{"label":{"en-US":"Categoria"},"type":"select","opts":{"opts":[{"l":{"en-US":"Confirmações"},"v":"confirmacoes"},{"l":{"en-US":"Bom dia"},"v":"bomdia"},{"l":{"en-US":"Boa tarde"},"v":"boatarde"},{"l":{"en-US":"Boa noite"},"v":"boanoite"},{"l":{"en-US":"Erros"},"v":"erros"},{"l":{"en-US":"Testes"},"v":"teste"},{"l":{"en-US":"Boas vindas"},"v":"boasvindas"}]}}},{"name":"not_subcat","type":"str","value":"","ui":{"label":{"en-US":"Remover Sub-Categoria"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#DDAA99"},{"id":"a99a5a72476bc80b","type":"http request","z":"a296c5e13a98a86f","name":"Pega lista de frases","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":370,"y":240,"wires":[["5dcc7f4402e4142e"]]},{"id":"a77af71a8982dccc","type":"change","z":"a296c5e13a98a86f","name":"Define URL / File Name","rules":[{"t":"set","p":"url","pt":"msg","to":"\"https://raw.githubusercontent.com/mendoncart/alexa-frases-aleatorias/main/\" & $env('categoria')","tot":"jsonata"},{"t":"set","p":"filename","pt":"msg","to":"\"/frases_aleatorias/\" & $env('categoria') & \".txt\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["a82bc0516ff810f7"]]},{"id":"5dcc7f4402e4142e","type":"function","z":"a296c5e13a98a86f","name":"Filtra e sorteia a frase","func":"    //Função de aleatório entre dois números\n    function randomIntFromInterval(min, max) { // min and max included \n      return Math.floor(Math.random() * (max - min + 1) + min)\n    }\n\nlet cache = msg.cache;  //msgs em cache\n\nif (cache.length > 0){\n    cache = cache.split(/[\\n\\t]/);   //criar um array separando por quebra de linha\n    cache.pop();    //remove o ultimo item do array (item vazio)\n    cache = \"'\" + cache.join( \"','\" ) + \"'\";    //junta tudo em string com aspas e separado por virgula\n    msg.historico = cache\n}\n\ncache = 'Durmam bem.'\n\n\nlet obj = msg.payload;  //array completo\nlet filtro = \"'\" + env.get('not_subcat').split( \",\" ).join( \"','\" ) + \"'\";   //critério de filtro\n\n    //filtra array e retorna o objeto\n    let NewObj = Object.fromEntries(\n       Object.entries(obj).filter(\n          ([key, val])=>!filtro.includes(key)\n       )\n    );\n\n\nlet AuxObj = Object.entries(NewObj);    //Cria um array dos objetos para selecionar um objeto aleatório\n\n\nlet ObjSize = AuxObj.length;   //Determina o tamanho do array filtrado.\n\n//Define um número aleatório dentro dos limites do array, para selecionar um objeto\nconst rndObj = randomIntFromInterval(0, ObjSize-1)\n\n\nlet Objeto = AuxObj[rndObj][0];   //Escolhe um objeto aleatório do array filtrado\nlet ItemSize = NewObj[Objeto].length;   //Determina o tamanho do array do objeto escolhido.\n\n//Define um número aleatório dentro dos limites do array para selecionar um item do objeto\nconst rndItem = randomIntFromInterval(0, ItemSize-1)\n\n//Retorna o valor aleatório para o payload da msg\nmsg.payload = msg.payload[Objeto][rndItem];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":240,"wires":[["72bcf449b2a7e401"]]},{"id":"42b169252bfe900b","type":"function","z":"a296c5e13a98a86f","name":"Msg Aleatória","func":"//const allowed = ['TipoB', 'TipoC'];\nobj = msg.payload;\nfiltro = \"'\" + env.get('not_humor').split( \",\" ).join( \"','\" ) + \"'\";\n\n//msg.Objeto = Object.fromEntries(Object.entries(obj).filter(([key]) => key.includes('B') || key.includes('C')));\n//msg.Objeto = Object.fromEntries(Object.entries(obj).filter(key => allowed.includes(key)));\n\n\nmsg.Objeto = Object.fromEntries(\n   Object.entries(obj).filter(\n      ([key, val])=>!filtro.includes(key)\n   )\n);\n\n\nmsg.filtro = filtro;\n\n// var randIndex = Math.floor(Math.random() * obj.length);\n// msg.objeto = obj//[randIndex][1];\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nlet Objeto = \"TipoA\";\nlet ObjSize = msg.payload[Objeto].length;\n\n//Função de aleatório entre dois números\nfunction randomIntFromInterval(min, max) { // min and max included \n  return Math.floor(Math.random() * (max - min + 1) + min)\n}\n\n//Define um número aleatório dentro dos limites do array\nconst rndInt = randomIntFromInterval(0, ObjSize-1)\n\n//Retorna o valor aleatório para o payload da msg\nmsg.payload = msg.payload[Objeto][rndInt];\n\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":400,"wires":[[]]},{"id":"5bd8aed6ca7f3e22","type":"function","z":"a296c5e13a98a86f","name":"Msg Aleatória","func":"obj = msg.payload;  //array completo\n\nfiltro = \"'\" + env.get('not_humor').split( \",\" ).join( \"','\" ) + \"'\";   //critério de filtro\n\n//filtra array e retorna o objeto\nmsg.Objeto = Object.fromEntries(\n   Object.entries(obj).filter(\n      ([key, val])=>!filtro.includes(key)\n   )\n);\n\n\nlet Objeto = \"TipoA\";\nlet ObjSize = msg.payload[Objeto].length;\n\n//Função de aleatório entre dois números\nfunction randomIntFromInterval(min, max) { // min and max included \n  return Math.floor(Math.random() * (max - min + 1) + min)\n}\n\n//Define um número aleatório dentro dos limites do array\nconst rndInt = randomIntFromInterval(0, ObjSize-1)\n\n//Retorna o valor aleatório para o payload da msg\nmsg.payload = msg.payload[Objeto][rndInt];\n\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":40,"wires":[[]]},{"id":"72bcf449b2a7e401","type":"file","z":"a296c5e13a98a86f","name":"Salva repostas já obtidas","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":930,"y":240,"wires":[[]]},{"id":"a82bc0516ff810f7","type":"file in","z":"a296c5e13a98a86f","name":"Lê respostas anteriores","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":650,"y":140,"wires":[["bef4d0a171a1ae8a"]]},{"id":"bef4d0a171a1ae8a","type":"change","z":"a296c5e13a98a86f","name":"Muda propriedade da msg","rules":[{"t":"set","p":"cache","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":140,"wires":[["a99a5a72476bc80b"]]},{"id":"7f2906f4d3c846b4","type":"catch","z":"a296c5e13a98a86f","name":"Se não houver histórico","scope":["a82bc0516ff810f7"],"uncaught":false,"x":660,"y":100,"wires":[["bef4d0a171a1ae8a"]]},{"id":"2579b6e124d7bd16","type":"subflow:a296c5e13a98a86f","z":"081e7c71fb82bb9b","name":"","env":[{"name":"categoria","value":"boanoite","type":"str"},{"name":"not_humor","value":"Normais-Singular","type":"str"},{"name":"Categoria","value":"confirmacoes","type":"str"},{"name":"Reprimir humor","value":"","type":"str"}],"x":550,"y":1800,"wires":[["a1eddc5226d29475","bf64cb5ca876141d","6de723d1880f9ef7","e130a26aaebcb775","67a139e9cd218c25"]]},{"id":"1e344fa4ddc7413b","type":"inject","z":"081e7c71fb82bb9b","name":"","props":[{"p":"payload"},{"p":"player_state","v":"playing","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1800,"wires":[["2579b6e124d7bd16"]]},{"id":"bf64cb5ca876141d","type":"debug","z":"081e7c71fb82bb9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":1880,"wires":[]},{"id":"6de723d1880f9ef7","type":"debug","z":"081e7c71fb82bb9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Objeto","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":1920,"wires":[]},{"id":"e130a26aaebcb775","type":"debug","z":"081e7c71fb82bb9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"historico","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":1960,"wires":[]},{"id":"67a139e9cd218c25","type":"debug","z":"081e7c71fb82bb9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"ObjetoF","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":2000,"wires":[]}]
