node-red_subflow
[{"id":"41af8772fd66b4d6","type":"subflow","name":"Frases aleatórias (2)","info":"","category":"","in":[{"x":180,"y":140,"wires":[{"id":"be4685aab0221739"}]}],"out":[{"x":1400,"y":240,"wires":[{"id":"e4f3d5f75ca6358a","port":0},{"id":"fdc8f77ef6437f4b","port":0}]}],"env":[{"name":"categoria","type":"str","value":"","ui":{"label":{"en-US":"Categoria"},"type":"input","opts":{"types":["str","num"]}}},{"name":"not_subcat","type":"str","value":"","ui":{"label":{"en-US":"Remover Sub-Categoria"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#DDAA99"},{"id":"2c8f0ef52fd8aa80","type":"http request","z":"41af8772fd66b4d6","name":"Pega lista de frases","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":370,"y":240,"wires":[["89c9ad0c11ea2a3b"]]},{"id":"be4685aab0221739","type":"change","z":"41af8772fd66b4d6","name":"Define URL / File Name","rules":[{"t":"set","p":"url","pt":"msg","to":"\"https://raw.githubusercontent.com/mendoncart/alexa-frases-aleatorias/main/frases/\" & $env('categoria')","tot":"jsonata"},{"t":"set","p":"filename","pt":"msg","to":"\"/frases_aleatorias/\" & $env('categoria') & \".txt\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["bf850e5822e6887f"]]},{"id":"89c9ad0c11ea2a3b","type":"function","z":"41af8772fd66b4d6","name":"Filtra e sorteia a frase","func":"const messages = msg.payload\nconst messageHistory = String(msg.cache)\nconst removeCategory = env.get('not_subcat')\n\n\nconst randomIntFromInterval = (min, max) => {\n  return Math.floor(Math.random() * (max - min + 1) + min)\n}\n\nconst handleCategory = (categoryToBeRemoved, listCategory) => {\n  const categoryToBeRemovedToArray = categoryToBeRemoved.split(', ').map(item => item.trim())\n  const categoriesKey = Object.keys(listCategory)\n  const filterCategories = categoriesKey.filter(category => !categoryToBeRemovedToArray.includes(category))\n  const indexChosenCategory = randomIntFromInterval(0, filterCategories.length - 1)\n\n  return listCategory[filterCategories[indexChosenCategory]]\n}\n\nconst filterMessage = (messagesHistory, listMessages) => {\n  if (!!messagesHistory) {\n    const convertMessagesInArray = messagesHistory.split(/[\\n\\t]/).map((item) => item.trim())\n    convertMessagesInArray.pop()\n    console.log('Formula')\n    console.log(messagesHistory.split(/[\\n\\t]/).map((item) => item.trim()).pop())\n    console.log('convertMessagesInArray')\n    console.log(convertMessagesInArray)\n    const filterMessages = listMessages.filter(message => !convertMessagesInArray.includes(message))\n\n    return filterMessages\n  }\n\n  return listMessages\n}\n\nconst listMessage = handleCategory(removeCategory, messages)\nconst filteredMessages = filterMessage(messageHistory, listMessage)\nconst indexChosenMessage = randomIntFromInterval(0, filteredMessages.length - 1)\n\nmsg.payload = filteredMessages[indexChosenMessage]\nmsg.remaining = filteredMessages.length\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":240,"wires":[["4e5473129b1a11ec"]]},{"id":"e4f3d5f75ca6358a","type":"file","z":"41af8772fd66b4d6","name":"Salva repostas já obtidas (Inclusão)","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1140,"y":220,"wires":[["673ec0fd9cf03685"]]},{"id":"bf850e5822e6887f","type":"file in","z":"41af8772fd66b4d6","name":"Lê respostas anteriores","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":650,"y":140,"wires":[["c8f357a8bbdd4eb8"]]},{"id":"c8f357a8bbdd4eb8","type":"change","z":"41af8772fd66b4d6","name":"Muda propriedade da msg","rules":[{"t":"set","p":"cache","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":140,"wires":[["2c8f0ef52fd8aa80"]]},{"id":"88cf688a0e3a7f2f","type":"catch","z":"41af8772fd66b4d6","name":"Se não houver histórico","scope":["bf850e5822e6887f"],"uncaught":false,"x":660,"y":100,"wires":[["c8f357a8bbdd4eb8"]]},{"id":"604d9e1fc5a23919","type":"debug","z":"41af8772fd66b4d6","name":"Reset","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":320,"wires":[]},{"id":"fdc8f77ef6437f4b","type":"file","z":"41af8772fd66b4d6","name":"Salva repostas já obtidas (Reset)","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1140,"y":260,"wires":[["604d9e1fc5a23919"]]},{"id":"4e5473129b1a11ec","type":"switch","z":"41af8772fd66b4d6","name":"Resetar?","property":"remaining","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":240,"wires":[["e4f3d5f75ca6358a"],["fdc8f77ef6437f4b"]]},{"id":"673ec0fd9cf03685","type":"debug","z":"41af8772fd66b4d6","name":"Há frases","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":180,"wires":[]},{"id":"95d2cc62046d9cac","type":"subflow:41af8772fd66b4d6","z":"b98c7b94ec1ddaa4","name":"","env":[{"name":"categoria","value":"boanoite","type":"str"},{"name":"not_subcat","value":"Normais-Singular, Normais-Plural","type":"str"}],"x":520,"y":220,"wires":[[]]}]
